body {
    font-family: Arial, sans-serif;
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fdepositphotos.com%2Fbr%2Fphotos%2Ffundo-azul-claro.html&psig=AOvVaw2kMdDZafUECyl1iKxd2_MX&ust=1727360263797000&source=images&cd=vfe&opi=89978449&ved=0CBQQjRxqFwoTCNiAucqk3ogDFQAAAAAdAAAAABAJ');
    /* URL da imagem de fundo */
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background: rgba(255, 255, 255, 0.8);
    /* Fundo branco com transparência */
    padding: 20px;
    box-shadow: 0 0 10px rgba(20, 20, 20, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #fafafa;
    /* Cor de fundo da tabela */
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    /* Cor de fundo do cabeçalho */
}

tr:nth-child(even) {
    background-color: #f9f9f9;
    /* Cor de fundo das linhas pares */
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    /* Cor de fundo do botão */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
    /* Cor de fundo do botão ao passar o mouse */
}